#post-botns {
  width: 100%;
  display: flex;
  gap: 10px;
}
#post-botns button {
  width: 100%;
}

#post-card-div{
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}