.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://t3.ftcdn.net/jpg/03/99/24/82/360_F_399248286_Ogm0T8CFeauN4Hdn42FqWfsCE02dJBbX.jpg") no-repeat no-repeat center center fixed ;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
}

.form-div form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    text-align: start;
    background-color: white;
    min-width: 500px;
    max-width: 500px;
    padding: 10px;
    background-color: #212529;
    color: white;
    box-shadow: 1px 1px 12px 2px white;
    gap: 10px;
}
